<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alexander's MySQL</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Alexander's MySQL</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">All Books</a></li>
            <li class="active"><a th:href="@{/edit}">Edit</a></li>
            <li><a th:href="@{/newbook}">New Book</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{/update/{id}(id=${book.id})}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="name" th:text="Name"></label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="author" th:text="Author"></label>
            <input type="text" class="form-control" id="author" th:field="*{author}">
        </div>
        <div class="form-group">
            <label for="purchaseDate" th:text="Author"></label>
            <input type="date" class="form-control" id="purchaseDate" th:field="*{purchaseDate}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>