<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alexander's MySQL</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Alexander's MySQL</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">All Books</a></li>
            <li><a th:href="@{/newbook}">New Book</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Purchase Date</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book :${books}">
            <tr >
                <td th:text="${book.id}">Book's id</td>
                <td th:text="${book.name}">Book's name</td>
                <td th:text="${book.author}">Book author</td>
                <td th:text="${book.purchaseDate}">Purchase date</td>
                <td><a th:href="@{/edit/{id} (id=${book.id})}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a></td>
                <td><a th:href="@{/delete/{id} (id=${book.id})}"><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>